<div>
  <br />
  <p>Buenos Días</p>
  <p>
    Estimado @@clientName, Grupo Computacional Desarrollador le envia mediante
    el presente el resumen de la orden con el numero @@orderId el cual podra ver
    mediante el siguiente link <a
      href="https://gcdcr-app-i3s2oscrzq-uc.a.run.app/sharedorder/@@orderId"
      >Orden @@orderId</a
    >
  </p>
</div>

<div>
  <div>
    <br />
    <p>GRUPO COMPUTACIONAL DESARROLLADOR</p>
    <p>DIR.: COSTA RICA, CARTAGO, LA UNION</p>
    <p>TEL.: (+506) 22613744</p>
    <p>CED; JUR.: 1-111-111111</p>
    <p>EMAIL: INFO@GCDCR.COM</p>
  </div>
</div>
